.about__container{
    display:grid;
    grid-template-columns: 1fr,1fr;
    align-items: center;
    justify-content: center;

}

.about__me{
    width:100%;
    border-radius:2rem; 
}


.about__cards{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}

.about__card{
    background:var(--bg-color-variant);
    border:1px solid transparent;
    border-radius:1rem;
    padding:2rem;
    text-align: center;
    place-items: center;
}

.about__card:hover{
    background:transparent;
    border-color:var(--primary-color-variant);
    cursor:default;
}

.about__icon{
    color:var(--primary-color-variant);
    font-size:1.4rem;
    margin-bottom:1rem;

}

.about__card h5{
    font-size:0.95rem;
}

.about__card small{
    font-size:0.7rem;
    color:var(--light-color);
}

.about__content p{
    margin:2rem 0 2.6rem;
    color:var(--light-color);
}

.btn .btn-primary{
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:1024px){
.about__container{
    grid-template-columns: 1fr;

}
.about__cards{
    display:grid;
    grid-template-columns:1fr;
    
}
.about__me{
    width:50%;
    margin:2rem auto 4rem;
}
.about__content p{
    margin:1rem 0 1.5rem;
 }
}



@media screen and (max-width:600px){

    .about__container{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    }


    .about__me{
        margin:0 auto 3rem;
    }

    .about__me-image{
        place-items: center;
        align-items: center;
    }

    .about__cards{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    
    }
    .about__content{
       text-align:center;
       
    }

    .about__content p{
        margin:1,5rem 0;
    }

  }
  
